.main {
  --columns: 4;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(var(--columns), 200px);
  gap: 40px 30px;
  justify-content: center;

  @media (min-width: 500px) {
    --columns: 2;
  }

  @media (min-width: 1000px) {
    --columns: 4;
  }
}

.person {
  width: fit-content;
  &__photo {
    position: relative;
    width: 200px;
    height: 200px;

    img {
      width: inherit;
      border-radius: 50%;
    }

    span {
      position: absolute;
      right: 10px;
      top: 50%; 
      transform: translateY(-50%);

      height: fit-content;
      border-radius: 50%;
      color: #8B0000;
      padding: 7px 12px;
      background-color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__extra {
    display: none;
  }

  &__details {
    margin-top: 8px;
    display: flex;
    justify-content: center;
  }

  &__name {
    color: #2F4F4F;
    font-size: 20px;
    font-weight: bold;
  }

}